body{
    margin: 3px;
    padding: 0;
    font-family: "Segoe UI" , sans-serif;
}


.container{
    display: flex;
    border-bottom: black 3px solid;
    height: 10%;
    width: 100%;

}

.logo{
    display: block;
    width: 15%;
    border-right: grey 1px solid;
}

.accueil{
    display: block;
    width: 70%;
    text-align: center;
    border-right: grey 1px solid;
    font-family: Arial, Helvetica, sans-serif;
}

.loupe{
    display: block;
    width: 4%;
    height: 75%;
    padding-top: 1%;
}

.recherche{
    display: block;
    padding-top: 2%;
}

.imageIndex {
    width: 100%;
    height: 100%;
}

.touites{
    display: flex;
    height: 70%;
    width: 100%;
}

#index .touites{
    border-bottom: black 3px solid;
    transition: background-color 0.5s;
}

#index .touite:hover{
    cursor: pointer;
    background-color: #e8e8e8;
    transition: background-color 0.5s;
}

.liens {
    display: block;
    width: 15%;
    font-family: Arial, Helvetica, sans-serif;
}

.lienPersonne {
    color: black;
}

@font-face {
    font-family: "snoopy_reg-webfont";
    src: url("../../Police/snoopy_reg-webfont.otf");
}

#choix {
    position: sticky;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 5%;
    text-align: center;
    background-color: #fff; /* Add a background color to make the navigation bar distinct */
    font-family: "snoopy_reg-webfont", sans-serif;
    font-size: 30px;
}

#choix li {
    padding-bottom: 5%;
    font-weight: bold;
}

#choix a {
    position: relative;
    text-decoration: none;
    color: black;
}

#choix a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 4px;
    background-color: lightcoral;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

#choix a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

#choix #connexion{
    position: absolute;
    top: 550%;
    left: 0;
    width: 100%;
}

#choix #inscription{
    position: absolute;
    top: 600%;
    left: 0;
    width: 100%;
}

.formulaire {
    position: relative;
    border-left: grey 1px solid;
    padding-left: 5%;
}

.formulaire::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    border-bottom: grey 1px solid;
}

.deffilementTouite {
    display: block;
    height: 100%;
    width: 70%;
}

.touite{
    display: block;
    border-bottom: grey 1px solid;
    border-right: grey 1px solid;
    border-left: grey 1px solid;
    width: 98%;
    height: 50%;
    padding: 1%;
}

#like{
    width: 10%;
    height: 20%;
    border-radius: 50%;
}

#like:hover{
    cursor: pointer;
}

#like:active{
    transform: scale(0.9);
}

#like img{
    width: 100%;
    height: 100%;
}

#dislike{
    width: 10%;
    height: 20%;
    border-radius: 50%;
}

#dislike:hover{
    cursor: pointer;
}

#dislike:active{
    transform: scale(0.9);
}

#dislike img{
    width: 100%;
    height: 100%;
}

.Commentaire{
    display: block;
    width: 98%;
    border-left: grey 1px solid;
}

.Commentaire h2{
    padding-left: 5%;
}

.Commentaire h3{
    padding-left: 5%;
    font-size: 14px;
}

.Commentaire p{
    text-align: justify;
    padding-left: 5%;
    font-size: 12px;
}