
/*css du corps de la page*/
body{
    margin: 3px;
    padding: 0;
    font-family: "Segoe UI" , sans-serif;
}

/*css du contenant des balises div*/
.container{
    display: flex;
    border-bottom: black 3px solid;
    height: 10%;
    width: 100%;

}

/*css de la balise div logo du site*/
.logo{
    display: block;
    width: 15%;
    border-right: grey 1px solid;
}

/*css du titre du site*/
.accueil{
    display: block;
    width: 70%;
    text-align: center;
    border-right: grey 1px solid;
    font-family: Arial, Helvetica, sans-serif;
}

/*css de l'image de la loupe à côté de la barre de recherche*/
.loupe{
    display: block;
    width: 4%;
    height: 75%;
    padding-top: 1%;
}

/*css de la barre de recherche*/
.recherche{
    display: block;
    padding-top: 2%;
}

/*css de l'image du logo*/
.imageIndex {
    width: 100%;
    height: 100%;
}

/*css de la balise div contenant les touites*/
.touites{
    display: flex;
    height: 70%;
    width: 100%;
}

/*css de la balise div contenant les touites avec une id index*/
#index .touites{
    border-bottom: black 3px solid;
    transition: background-color 0.5s;
}

#index .touite:hover{
    cursor: pointer;
    background-color: #e8e8e8;
    transition: background-color 0.5s;
}

/*css des liens à gauche*/
.liens {
    display: block;
    width: 15%;
    font-family: Arial, Helvetica, sans-serif;
}

/*css du lien qui renvoie à une personne*/
.lienPersonne {
    color: black;
}

/*css pour ajouter une police extérieur*/
@font-face {
    font-family: "snoopy_reg-webfont";
    src: url("../../Police/snoopy_reg-webfont.otf");
}

/*css des liens de gauche*/
#choix {
    position: sticky;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 5%;
    text-align: center;
    background-color: #fff; /* Add a background color to make the navigation bar distinct */
    font-family: "snoopy_reg-webfont", sans-serif;
    font-size: 30px;
}

#choix li {
    padding-bottom: 5%;
    font-weight: bold;
}

#choix a {
    position: relative;
    text-decoration: none;
    color: black;
}

#choix a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 4px;
    background-color: lightcoral;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

#choix a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

#choix #connexion{
    position: absolute;
    top: 550%;
    left: 0;
    width: 100%;
}

#choix #inscription{
    position: absolute;
    top: 600%;
    left: 0;
    width: 100%;
}

#choix #TousTouite{
    position: absolute;
    top: 400%;
    left: 0;
    width: 100%;
}

#choix #publier{
    position: absolute;
    top: 500%;
    left: 0;
    width: 100%;
}

#choix #narcissique{

    position: absolute;
    top: 300%;
    left: 0;
    width: 100%;
}

#choix #deconnexion{
    position: absolute;
    top: 600%;
    left: 0;
    width: 100%;
}

/*css des liens de pagination*/
#pag{
    position: absolute;
    top: 700%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}


#pag li {
    margin-right: 5%;
}

/*css de l'image de la poubelle pour supprimer*/
#poubelle{
    position: relative;
    left:95%;
    width: 5%;
    height: 5%;
}

/*css du formulaire d'inscription*/
.formulaireInsc {
    position: relative;
    border-left: grey 1px solid;
    padding-left: 5%;
    font-family: "Comic Sans MS", cursive, sans-serif;

}

#erreur{
    color: red;
}

.formulaireInsc::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    border-bottom: grey 1px solid;
}

/*css de la balise div contenant les touites*/
.deffilementTouite {
    display: block;
    height: 100%;
    width: 70%;
}

/*css d'un touite */
.touite{
    display: block;
    border-bottom: grey 1px solid;
    border-right: grey 1px solid;
    border-left: grey 1px solid;
    width: 98%;
    height: 50%;
    padding: 1%;
}

/*css de l'image like*/
#like{
    width: 9%;
    height: 19%;
    border-radius: 50%;
}

#like:hover{
    cursor: pointer;
}

#like:active{
    transform: scale(0.9);
}

#like img{
    width: 100%;
    height: 100%;
}

/*css de l'image dislike*/
#dislike{
    width: 10%;
    height: 20%;
    border-radius: 50%;
}

#dislike:hover{
    cursor: pointer;
}

#dislike:active{
    transform: scale(0.9);
}

#dislike img{
    width: 100%;
    height: 100%;
}

/*css pour les exemples de commentaires en dessous des touites détaillés*/
.Commentaire{
    display: block;
    width: 98%;
    border-left: grey 1px solid;
}

.Commentaire h2{
    padding-left: 5%;
}

.Commentaire h3{
    padding-left: 5%;
    font-size: 14px;
}

.Commentaire p{
    text-align: justify;
    padding-left: 5%;
    font-size: 12px;
}

.formulaireInsc label {
    display: block;
    width: 150px;
    float: left;
}

.formulaireInsc input {
    border-radius: 30px;
}

/*css du formulaire de connexion*/
.formulaireAuth label {
    display: block;
    width: 150px;
    float: left;
}


.formulaireAuth {
    position: relative;
    border-left: grey 1px solid;
    padding-left: 5%;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.formulaireAuth::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    border-bottom: grey 1px solid;
}

/*css du textarea pour publier*/
.textPublier textarea {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    resize: none;
}

/*css du formulaire d'image pour publier*/
.formulaireImg{
    position: relative;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

/*css de l'image de loupe de recherche*/
.boutonrecherche{
    background-color: white;
    border: white;
}