.tete_page{
    display: flex;
    border: black 3px solid;
    height: 10%;
}

.connexion{
    display: block;
    width: 20%;
    text-align: center;
    border: grey 1px solid;
}

.Entete{
    display: flex;
    text-align: left;
    border: grey 1px solid;
}

.Entete img{
    width: 10%;
    height: 10%;
}

#maRecherche{
    display: block;
    text-align: right;
    border: grey 1px solid;
}