.tete_page{
    display: flex;
    border: black 3px solid;
    height: 10%;
}

.connexion{
    display: block;
    width: 20%;
    text-align: center;
    border: grey 1px solid;
}

.bb{
    display: block;
    width: 60%;
    text-align: center;
    border: grey 1px solid;
}

#maRecherche{
    display: block;
    width: 100%;
    text-align: center;
    border: grey 1px solid;
}